<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.css}" rel="stylesheet">
    <script type="text/javascript" th:src="@{/resources/webjars/jquery/3.0.0/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/popper.js/1.14.3/popper.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.js}"></script>
</head>
<body>
<div>
    <form th:action="@{/student/student}" method="post">
        <input type="hidden" name="_method" value="put"/>
        <input type="hidden" name="id" th:value="${stuInfo.id}"/>
        <div class="form-group">
            <label>学号</label>
            <input type="text" class="form-control" readonly th:value="${stuInfo.id}">
        </div>
        <div class="form-group">
            <label>姓名</label><br/>
            <input name="name" type="text" class="form-control" readonly th:value="${stuInfo.name}">
        </div>
        <div class="form-group">
            <label>性别</label>
            <input name="gender" type="text" class="form-control" readonly th:value="${stuInfo.gender}=='w'?'女':'男'">
        </div>
        <div class="form-group">
            <label>生日</label>
            <input name="birth" type="text" class="form-control" readonly th:value="${stuInfo.birth}">
        </div>
        <div class="form-group">
            <label>专业</label>
            <input name="major" type="text" class="form-control" readonly th:value="${stuInfo.major}">
        </div>
        <div class="form-group">
            <label>班级</label>
            <input name="clazz" type="text" class="form-control" readonly th:value="${stuInfo.clazz}">
        </div>
        <div class="form-group">
            <label>联系号码</label>
            <input name="tel" type="tel" class="form-control" th:value="${stuInfo!=null}?${stuInfo.tel}">
        </div>
        <div class="form-group">
            <label>邮箱</label>
            <input name="email" type="email" class="form-control" th:value="${stuInfo!=null}?${stuInfo.email}">
        </div>
        <button type="submit" class="btn btn-primary" th:text="保存"></button>
        <label th:text="${msg}=='success'?'保存成功':'保存失败'" th:if="${msg!=null}"></label>
    </form>
</div>
</body>
</html>