<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.table.neweims.mapper.ResourceMapper">
  <resultMap id="BaseResultMap" type="org.table.neweims.entities.Resource">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="permission" jdbcType="VARCHAR" property="permission" />
  </resultMap>
  
  <select id="selectPermsByUsername" parameterType="string" resultType="string">
    select p.permission from tb_role_resource rr
      left join tb_resource p on rr.resource_id = p.id
      left join tb_user_role ur on rr.role_id = ur.role_id
      left join tb_user u on ur.user_id = u.id
      where u.username = #{name}
  </select>

</mapper>