<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <form method="post" th:action="@{/loginUser/upUserInfo}">
            性别
            <input type="radio" th:checked="${session.loginUser.gender}==w" name="gender" value="w">女
            <input type="radio" th:checked="${session.loginUser.gender}==m" name="gender" value="m">男
            <br>
            邮箱<input type="text" name="email" th:value="${session.loginUser.email}">
            <br>
            联系电话<input type="text" name="tel" th:value="${session.loginUser.tel}">
            <br>
            出生日期<input type="text" name="birthday" th:value="${session.loginUser.birthday}">
            <br>
            <input type="submit" value="更改">
        </form>
    </div>
</body>
</html>