<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>resume list</title>

    <!-- Bootstrap core CSS-->
    <link th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link th:href="@{/webjars/font-awesome/5.3.1/css/all.min.css}" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link th:href="@{/webjars/datatables/1.10.19/css/dataTables.bootstrap4.css}" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link th:href="@{/mystatic/css/sb-admin.css}" rel="stylesheet">

</head>

<body id="page-top">
<div th:replace="common/nav::topbar"></div>

<div id="wrapper">
    <div th:replace="common/nav::sidebar(activeUri='resume.html')"></div>

    <div id="content-wrapper">

        <div class="container-fluid">

            <div class="card mb-3">
                <form th:action="@{/resume}" method="post">
                    <input type="hidden" name="_method" value="put" th:if="${resume!=null}"/>
                    <input type="hidden" name="id" th:if="${resume!=null}" th:value="${resume.id}"/>

                    <div class="card-header">
                        <i class="fas fa-table"></i>
                        编辑简历
                    </div>

                    <div class="card-body">

                        <div class="form-group">
                            <label>简历名称</label>
                            <input name="name" type="text" class="form-control" th:value="${resume!=null}?${resume.name}" placeholder="My Resume">
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-3">
                                <label>姓名</label>
                                <input type="text" readonly class="form-control" th:value="${stu.name}">
                            </div>
                            <div class="form-group col-lg-1">
                                <label>性别</label>
                                <input type="text" readonly class="form-control" th:value="${stu.gender}=='w'?'女':'男'">
                            </div>
                            <div class="form-group col-lg-2">
                                <label>生日</label>
                                <input type="text" readonly class="form-control" th:value="${stu.birth}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-3">
                                <label>求职意向</label>
                                <input name="intention" type="text" class="form-control" th:value="${resume!=null}?${resume.intention}">
                            </div>
                            <div class="form-group col-lg-3">
                                <label>专业</label>
                                <input type="text" readonly class="form-control" th:value="${stu.major}">
                            </div>
                            <div class="form-group col-lg-2">
                                <label>期望薪资</label><br/>
                                <input name="wages" type="text" class="form-control" th:value="${resume!=null}?${resume.wages}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-3">
                                <label>联系号码</label>
                                <input name="tel" type="text" class="form-control" th:value="${resume?.tel!=null}?${resume.tel}:${stu.tel}">
                            </div>
                            <div class="form-group col-lg-3">
                                <label>邮箱</label><br/>
                                <input name="email" type="email" class="form-control" th:value="${resume?.email!=null}?${resume.email}:${stu.email}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>技能</label>
                            <input name="skill" type="text" class="form-control" th:value="${resume!=null}?${resume.skill}">
                        </div>
                        <div class="form-group">
                            <label>工作经验</label>
                            <textarea name="experience" class="form-control" rows="4">[[${resume!=null}?${resume.experience}]]</textarea>
                        </div>
                        <div class="form-group">
                            <label>个人简介</label>
                            <textarea name="introduce" class="form-control" rows="4">[[${resume!=null}?${resume.introduce}]]</textarea>
                        </div>

                    </div>

                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary" th:text="${resume!=null}?'修改':'添加'">添加</button>
                    </div>
                </form>
            </div>

        </div>

    </div>
</div>
<!-- Scroll to Top Button-->
<div th:replace="common/nav::topbut"></div>

<!-- Modal-->
<div th:replace="common/nav::logoutMod"></div>
<div th:replace="common/nav::tipModal"></div>

<!-- Bootstrap core JavaScript-->
<script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.bundle.min.js}"></script>

<!-- Page level plugin JavaScript-->
<script th:src="@{/webjars/datatables/1.10.19/js/jquery.dataTables.js}"></script>
<script th:src="@{/webjars/datatables/1.10.19/js/dataTables.bootstrap4.js}"></script>

<script th:src="@{/mystatic/js/sb-admin.js}"></script>
<!-- Core plugin JavaScript-->
<script th:src="@{/webjars/jquery-easing-original/1.4.1/jquery.easing.min.js}"></script>

