<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>resume list</title>

    <!-- Bootstrap core CSS-->
    <link th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link th:href="@{/webjars/font-awesome/5.3.1/css/all.min.css}" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link th:href="@{/webjars/datatables/1.10.19/css/dataTables.bootstrap4.css}" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link th:href="@{/mystatic/css/sb-admin.css}" rel="stylesheet">

</head>

<body id="page-top">
<div th:replace="common/nav::topbar"></div>

<div id="wrapper">
    <div th:replace="common/nav::sidebar(activeUri='resume.html')"></div>

    <div id="content-wrapper">

        <div class="container-fluid">
            <div class="card mb-3">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <i class="fas fa-table"></i>
                            我的简历
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <a class="btn btn-sm btn-outline-primary float-md-right" th:href="@{/toaddresume}"><i class="fas fa-plus"></i>增加简历</a>
                        </div>
                    </div>

                </div>
                <div class="card-body">

                    <div class="card mb-2" th:each="resume:${resumeList}">
                        <div class="card-header">
                            简历名称:[[${resume.rname}]]
                        </div>
                        <div class="card-body">
                            求职岗位:[[${resume.intention}]]
                        </div>
                        <div class="card-footer">
                            <a class="btn btn-sm btn-info" th:href="@{/resume/}+${resume.id}">查看详情</a>
                            <button th:attr="del_url=@{/resume/}+${resume.id}" type="submit" class="btn btn-sm btn-danger deleteBtn">删除</button>
                        </div>
                    </div>

                </div>

                <form id="deleteForm" method="post">
                    <input type="hidden" name="_method" value="delete"/>
                </form>

            </div>
        </div>


    </div>
</div>
<!-- Scroll to Top Button-->
<div th:replace="common/nav::topbut"></div>

<!-- Modal-->
<div th:replace="common/nav::logoutMod"></div>
<div th:replace="common/nav::tipModal"></div>
<div th:replace="common/nav::delModal"></div>

<!-- Bootstrap core JavaScript-->
<script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.bundle.min.js}"></script>

<!-- Page level plugin JavaScript-->
<script th:src="@{/webjars/datatables/1.10.19/js/jquery.dataTables.js}"></script>
<script th:src="@{/webjars/datatables/1.10.19/js/dataTables.bootstrap4.js}"></script>

<script th:src="@{/mystatic/js/myjs-do.js}"></script>
<script th:src="@{/mystatic/js/sb-admin.js}"></script>
<!-- Core plugin JavaScript-->
<script th:src="@{/webjars/jquery-easing-original/1.4.1/jquery.easing.min.js}"></script>


</body>
</html>