<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>enterprise main</title>
</head>
<body>
<div>
    <span>这是头部</span>
    <a th:href="@{/logout}">退出</a>
</div>
<div>
    <span>这是侧边栏</span>
        <h3 shiro:hasPermission="enterprise:please">请填写企业信息</h3>
        <h3 shiro:hasPermission="enterprise:illegal">请等待管理员审核信息</h3>
    <ul>
        <li><a th:href="@{/enterprise}">企业信息</a></li>
        <li shiro:hasPermission="enterprise:legal"><a th:href="@{/recruitment}">招聘信息</a></li>
    </ul>
</div>
<div>
    <span>这是内容区</span>
</div>
</body>
</html>